<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/afa08abdc7.js" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script defer src="/js/js.js"></script>

</head>

<body>
    <%- include('partials/header') %>
        <div class="detail">

            <div class="container">
                <img src="<%=producto.img%>" class="short">
                <div class="detail-text">
                    <h2>
                        <%=producto.name %>
                    </h2>
                    <h2>
                        <%=producto.material %>
                    </h2>
                    <h2>
                        <%=producto.color %>
                    </h2>
                    <h2>
                        <%=producto.talle %>
                    </h2>
                    <h2>
                        <%=producto.price %>
                    </h2>
                    <p>Formas de pago: Efectivo/Tarjeta</p>
                    <div>
                        
                        <a href="/products/edit/<%= producto.id %> " class="links-text">Editar</a>
                        <a href="/products/delete/<%= producto.id %> " class="links-text">Eliminar</a>
                    </div>

                </div>
            </div>

        </div>

        <%- include('partials/footer') %>
</body>

</html>